<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Creativo</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="encabezado">
        <div class="encabezado-logo">
            <img src="https://placeimg.com/250/150/arch" alt="imagen de prueba">
        </div>
        <nav class="encabezado-navbar">
            <a href="#gym-creativo" class="encabezado-navbar-links">¿Que es Gym Creativo?</a>
            <a href="#entrena-con-nosotros" class="encabezado-navbar-links">Entrená con Nosotros</a>
            <a href="#capacitaciones-empresariales" class="encabezado-navbar-links">Capacitaciones empresariales</a>
            <a href="#chateamos" class="encabezado-navbar-links">Chateamos</a>
        </nav>
    </header>
    <main>
        <section id="gym-creativo">
            <div>
                <img src="https://placeimg.com/640/640/people" alt="Santiago Caranza">
            </div>
            <div>
                <h3>¿Que es el Gym Creativo?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores nam incidunt at adipisci id rerum sequi. Porro aspernatur cum laborum asperiores maiores architecto repellendus deleniti nulla voluptatum nesciunt officiis corporis totam nisi labore non molestias, obcaecati sunt saepe sequi soluta quam quae est? Quisquam et voluptas obcaecati rerum. Quod sapiente officia itaque amet culpa voluptas mollitia, veniam aut vel.</p>
            </div>
        </section>
        <section id="entrena-con-nosotros">
            <h3>¡Entrená con nosotros!</h3>
            <p>Carrousel</p>
            <!-- Bloque que muestre la info de un curso que es un solo elemento del -->
            <div> 
                <img src="https://placeimg.com/640/640/people" alt="">
                <h4>Título del curso</h4>
                <p>breve explicación</p>
            </div>
        </section>
        <section id="capacitaciones-empresariales">
            <h3>Capacitaciones Empresariales</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut suscipit vitae neque iusto recusandae nisi nemo perspiciatis consequatur dignissimos! Autem rem eveniet quasi adipisci, est molestias deserunt velit repellat sunt quae laborum modi officiis. Totam consequuntur saepe veritatis possimus voluptates voluptate eos deserunt iste odio vel accusantium, repudiandae perspiciatis minus.</p>
            <p>imagenes de las empresas que ya se capacitaron, dependiendo la cantidad, podría también ser un Carrousel</p>
        </section>
    </main>
    <footer id="chateamos" class="chateamos">
        <h3>¡Chateamos!</h3>
        <form action="/" method="post">
            <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name">
            <label for="cell">Celular</label>
            <input type="number" name="cell" id="cell">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
            </div>
            <label for="message">Mensaje</label>
            <textarea name="message" id="chateamos-message" cols="30" rows="10">Escribe aquí tu mensaje...</textarea>
            <input type="submit" value="Enviar" class="chateamos-boton">
        </form>
    </footer>
</body>
</html>