<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Creativo</title>
    <script src="https://kit.fontawesome.com/ce17e9ddbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="encabezado">
        <div class="encabezado-div">
            <div class="encabezado-logo">
                <img class="encabezado-logo-imagen" src="../public/design/logo-horizontal-fondo-oscuro-chato.png" alt="imagen de prueba">
            </div>
            <nav class="encabezado-navbar">
                <input type="checkbox" id="menu" class="navbar-checkbox">
                <label for="menu"><i class="fas fa-bars"></i></label>
                <div class="navbar-collapsible-menu">
                    <ul class="collapsible-menu-list">
                        <li>
                            <a href="#gym-creativo" class="menu-list-links">¿Que es Gym Creativo?</a>
                        </li>
                        <li>
                            <a href="#entrena-con-nosotros" class="menu-list-links">Entrená con Nosotros</a>
                        </li>
                        <li>
                            <a href="#capacitaciones-empresariales" class="menu-list-links">Capacitaciones empresariales</a>
                        </li>
                        <li>
                            <a href="#chateamos" class="menu-list-links">Chateamos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>  
    </header>
    <main class="main">
        <section id="gym-creativo" class="gym-creativo">
            <div class="gym-creativo-imagen">
                <img src="https://placeimg.com/300/300/people" alt="Santiago Caranza">
            </div>
            <div class="gym-creativo-texto">
                <h3 class="titulo-seccion">¿Que es el Gym Creativo?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores nam incidunt at adipisci id rerum sequi. Porro aspernatur cum laborum asperiores maiores architecto repellendus deleniti nulla voluptatum nesciunt officiis corporis totam nisi labore non molestias, obcaecati sunt saepe sequi soluta quam quae est? Quisquam et voluptas obcaecati rerum. Quod sapiente officia itaque amet culpa voluptas mollitia, veniam aut vel.</p>
            </div>
        </section>
        <section id="entrena-con-nosotros" class="entrena-con-nosotros">
            <h3 class="titulo-seccion">¡Entrená con nosotros!</h3>
            <!-- Bloque que muestre la info de un curso que es un solo elemento del -->
            <div class="entrena-cursos">
                <div class="entrena-curso"> 
                    <a href="" class="entrena-curso-links"> <!--link al fomrulario de google de cada curso-->
                        <img src="https://placeimg.com/300/300/people" alt="">
                        <h4>Curso 1</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non quibusdam, sunt enim distinctio quia.</p>
                        <p class="quiero-participar">Quiero participar</p>
                    </a>
                </div>
                <div class="entrena-curso"> 
                    <a href="" class="entrena-curso-links"> <!--link al fomrulario de google de cada curso-->
                        <img src="https://placeimg.com/300/300/people" alt="">
                        <h4>Curso 2</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non quibusdam, sunt enim distinctio quia.</p>
                        <p class="quiero-participar">Quiero participar</p>
                    </a>
                </div>
                <div class="entrena-curso"> 
                    <a href="" class="entrena-curso-links"> <!--link al fomrulario de google de cada curso-->
                        <img src="https://placeimg.com/300/300/people" alt="">
                        <h4>Curso 3</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non quibusdam, sunt enim distinctio quia.</p>
                        <p class="quiero-participar">Quiero participar</p>
                    </a>
                </div>
            </div>
        </section>
        <section id="capacitaciones-empresariales" class="capacitaciones-empresariales">
            <h3 class="titulo-seccion">Capacitaciones Empresariales</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut suscipit vitae neque iusto recusandae nisi nemo perspiciatis consequatur dignissimos! Autem rem eveniet quasi adipisci, est molestias deserunt velit repellat sunt quae laborum modi officiis. Totam consequuntur saepe veritatis possimus voluptates voluptate eos deserunt iste odio vel accusantium, repudiandae perspiciatis minus.</p>
            <p>imagenes de las empresas que ya se capacitaron, dependiendo la cantidad, podría también ser un Carrousel</p>
        </section>
        <section id="chateamos" class="chateamos">
            <h3 class="titulo-seccion">¡Chateamos!</h3>
            <form action="index.html" method="post">
                <div class="form">
                    <div class="chateamos-campos">
                        <input class="chateamos-input" type="text" name="name" id="name" placeholder="Nombre">
                        <input class="chateamos-input" type="tel" name="cell" id="cell" placeholder="Celular">
                        <input class="chateamos-input" type="email" name="email" id="email" placeholder="E-mail">
                    </div>
                    <div class="chateamos-campos">
                        <textarea class="chateamos-input" name="message" id="chateamos-message" cols="30" rows="6" placeholder="Mensaje..."></textarea>
                        <input type="submit" value="Enviar" class="chateamos-boton">
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="footer">
            <a href="https://www.instagram.com/gymcreativo/" class="footer-links"><i class="fab fa-instagram"></i></a>
            <a href="" class="footer-links"><i class="fab fa-whatsapp"></i></a>
        </div>
    </footer>
</body>
</html>