<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Creativo</title>
    <script src="https://kit.fontawesome.com/ce17e9ddbf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="encabezado">
        <div class="encabezado-div">
            <div class="encabezado-logo">
                <img class="encabezado-logo-imagen" src="../public/design/logo-horizontal-fondo-claro-chato.png" alt="imagen de prueba">
            </div>
            <nav class="encabezado-navbar">
                <input type="checkbox" id="menu" class="navbar-checkbox">
                <label for="menu"><i class="menu-icon fas fa-bars fa-lg"></i></label>
                <div class="navbar-collapsible-menu">
                    <ul class="collapsible-menu-list">
                        <li>
                            <a href="#gym-creativo" class="menu-list-links">¿Que es Gym Creativo?</a>
                        </li>
                        <li>
                            <a href="#entrena-con-nosotros" class="menu-list-links">Entrená con Nosotros</a>
                        </li>
                        <li>
                            <a href="#capacitaciones-empresariales" class="menu-list-links">Capacitaciones empresariales</a>
                        </li>
                        <li>
                            <a href="#chateamos" class="menu-list-links">Chateamos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>  
    </header>
    <main class="main">
        <section id="gym-creativo" class="gym-creativo">
            <div class="gym-creativo-div">
                <div class="gym-creativo-imagen">
                    <img src="../public/images/lightbulb.png" class="lightbulb">    
                </div>
                <div class="gym-creativo-texto">
                    <h2 class="titulos">¿Qué es el <br>Gym Creativo?</h2>
                    <p class="blue-text" style="font-size: 1.3em;">Es un espacio que te ayuda a romper la lógica y salir de tu zona de confort generando ideas disruptivas e innovadoras para aplicarlas en tus proyectos.<br><br><b>Porque todos podemos ser más creativos, solo tenemos que entrenarnos.</b></p>
                    <p class="orange-text"><b>¡Ya contamos con +1000 participantes de todo Hispanoamérica!</b></p>
                </div>
            </div>  
        </section>
        <section id="sobre-mi">
            <svg xmlns="../public/images/wave (1).svg" viewBox="0 120 1440 250"><path fill="#FFF" fill-opacity="1" d="M0,128L48,149.3C96,171,192,213,288,229.3C384,245,480,235,576,218.7C672,203,768,181,864,192C960,203,1056,245,1152,256C1248,267,1344,245,1392,234.7L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
            <div class="sobre-mi-texto">
                
                <h2 class="titulos" style="color: #ffffff;">Sobre mí</h2>
                <p class="white-text" style="font-size: 1.3em;">Soy Actor y Licenciado en Administración de <br>Empresas estos dos mundos que parecen distantes <br>me generan una amplitud de conocimientos que <br>consegui unirlos en el GymCreativo. </p>
                <p class="white-text" style="font-size: 1.3em;">Soy Scrum Master y Product Owner certiﬁcado por <br>ITBA y  Jeff Sutherland, también me especialicé en <br>Design Thinking (Brother Barcelona), Gamiﬁcation <br>(Wharton school, USA).</p>
                <p class="white-text" style="font-size: 1.3em;">Hago improvisación teatral desde hace 10 años y <br>disfruto de actuar en cine, televisión y teatro.</p>
            </div>
            <svg xmlns="../public/images/wave.svg" viewBox="0 0 1440 300"><path fill="#22418a" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </section>
        <section class="creatividad">
            <div><h2 class="titulos" style="color: #ffffff;">Cursos y talleres</h2></div>
            <div class="creatividad-texto">
                <p>La creatividad no es un golpe de suerte, descubre como ser más <br>creativo para tu emprendimientio, un proyecto personal o para tu vida.  </p>
                <p><b>¡Encuentra el curso que mejor se adapte a tus metas!</b></p>
            </div>
            <div class="card-slider">
                <div class="card">
                    <img src="../public/images/fondocursos.png">
                    <div class="card-text">
                        <p><b>Desarrolla tu creatividad<br>Etapa 1</b></p>
                        <p>Duración: 4 clases<br>Online en vivo<br>Cupos limitados</p>
                        <button class="quiero-saber-mas">¡QUIERO SABER MÁS!</button>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/images/fondocursos.png">
                    <div class="card-text">
                        <p><b>Mentorías<br>&nbsp;</b></p>
                        <p>Duración: 4/8 encuentros<br>Online en vivo<br>Personalizado</p>
                        <button class="quiero-saber-mas">¡QUIERO SABER MÁS!</button>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/images/fondocursos.png">
                    <div class="card-text">
                        <p><b>Aprende a Improvisar<br>&nbsp;</b></p>
                        <p>Duración: 12 clases<br>Online en vivo<br>Cupos limitados</p>
                        <button class="quiero-saber-mas">¡QUIERO SABER MÁS!</button>
                    </div>
                </div>
                <div class="card">
                    <img src="../public/images/fondocursos.png">
                    <div class="card-text">
                        <p><b>Workshop para<br>emprendedores</b></p>
                        <p>Duración: 1 clase<br>Online en vivo<br>&nbsp;</p>
                        <button class="quiero-saber-mas">¡QUIERO SABER MÁS!</button>
                    </div>
                </div>
            </div>
            
        </section>
        <section id="capacitaciones-empresariales" class="capacitaciones-empresariales">
            
                <svg xmlns="../public/images/wave (1).svg" viewBox="0 0 1440 320"><path fill="#22418a" fill-opacity="1" d="M0,128L48,149.3C96,171,192,213,288,229.3C384,245,480,235,576,218.7C672,203,768,181,864,192C960,203,1056,245,1152,256C1248,267,1344,245,1392,234.7L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
            
            <h3 class="titulos">Capacitaciones Empresariales</h3>
            <p style="max-width: 500px; text-align:center">Cada organización tiene necesidades y objetivos únicos, por eso trabajamos en equipo facilitando distintas metodologías y dinámicas para cumplir sus metas. 
            </p>
            <h4>¿Qué podemos hacer juntos?</h4>
            <div id="juntos">
                <ul>
                    <li>- Design Thinking</li>
                    <li>- Metologías Ágiles: Scrum</li>
                    <li>- Desarrollo Creativo</li>
                </ul>
                <ul>
                    <li>- Generación de ideas innovadoras</li>
                    <li>- Mejora del trabajo en equipo</li>
                    <li>- Resolución de problemas</li>
                </ul>
            </div>

            <h4>¡Organizaciones con las que trabajé!</h4>
            <div class="capacitaciones-empresariales-logos">
                <div class="logo-empresa"><img src="../public/images/EMPRESAS_CEREBRO.png" alt="logo-empresa"></div>
                <div class="logo-empresa"><img src="../public/images/EMPRESAS_MALBA.png" alt="logo-empresa"></div>
                <div class="logo-empresa"><img src="../public/images/EMPRESAS_MEDIFE.png" alt="logo-empresa"></div>
                <div class="logo-empresa"><img src="../public/images/EMPRESAS_PASTO.png" alt="logo-empresa"></div>
                <div class="logo-empresa"><img src="../public/images/EMPRESAS_PYLV.png" alt="logo-empresa"></div>
                <div class="logo-empresa"><img src="../public/images/EMPRESAS_RUTA.png" alt="logo-empresa"></div>
                <div class="logo-empresa"><img src="../public/images/EMPRESAS_SI.png" alt="logo-empresa"></div>
            </div>
        </section>
        <section id="chateamos" class="chateamos">
            <svg xmlns="../public/images/wave.svg" viewBox="0 0 1440 320"><path fill="#ea9423" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
            <div class="chateamos-contenido">
                <h3 class="titulos">Charlemos</h3>
                <div class="charlemos">
                    <div class="redes">
                    <p>Si tenés dudas o querés mas información, <br> ¡escribime!</p>
                    <a href="https://www.instagram.com/gymcreativo/" class="footer-links" target="blanck"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="https://wa.me/5491160186557" class="footer-links" target="blanck"><i class="fab fa-whatsapp fa-lg"></i></a>    
                    </div>
                    <form action="index.html" method="post">
                        <div class="form-y-boton">
                                <input class="chateamos-input" type="text" name="name" id="name" placeholder="Nombre:">
                                <input class="chateamos-input" type="tel" name="cell" id="cell" placeholder="Celular:">
                                <input class="chateamos-input" type="email" name="email" id="email" placeholder="E-mail:">
                                <textarea class="chateamos-input" name="message" id="chateamos-message" cols="30" rows="6" placeholder="Mensaje:"></textarea>
                            <input type="submit" value="Enviar" class="chateamos-boton">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>