/* Mobile first */
@font-face {
    font-family: Subscriber;
    src: url("../design/Fonts_Lato/SUBSCRIBER-Regular.otf") format("opentype");
}


* {
    font-family: 'Lato', sans-serif;
}

.titulos {
    font-family: 'Subscriber', sans-serif;
    font-size: 4em;
    font-weight: lighter;
    color: #234487;
    margin: 0;
}

.blue-text {
    color: #234487;
}
.white-text {
    color: #ffffff;
}

#sobre-mi{
    background-image: url(../design/santi-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.sobre-mi-texto{
    color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top: 150px;
}
.orange-text {
    color: #ea9423;
}
/* diseño del encabezado */
.encabezado {
    text-align: center;
    background-color: #ffffff;
}
.encabezado-div {
    display: flex;
    flex-direction: column;
}
.encabezado-logo-imagen {
    width: 50%;
    max-width: 220px;
}
.encabezado-navbar {
    color: #ea9423;
}
.navbar-collapsible-menu {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.navbar-checkbox:checked ~ .navbar-collapsible-menu {
    max-height: 100%;
}
input#menu {
    display: none;
}
.menu-icon {
    padding: 15px;
}
.collapsible-menu-list li {
    list-style-type: none;
    text-align: center;
}
.collapsible-menu-list a {
    display: block;
    text-decoration: none;
}
.collapsible-menu-list {
    padding-inline-start: 0%;
}
.menu-list-links {
    color: #22418a;
    font-weight: bold;
    padding: 10px 3px;
}
/* fin diseño encabezado */

/* Diseño de ña sección GymCreativo */
.gym-creativo {
    width: 100%;
    margin: auto;
}
.gym-creativo-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.gym-creativo-imagen {
    display: inline-block;
    margin: 20px;
    padding: 10px;    
}

.lightbulb {
    width: 100%;
    max-width: 200px;
}

.gym-creativo-santiago {
    text-align: center;
    background-color: #22418a;
    color: #ffffff;
    padding: 5px 0px
}
.gym-creativo-texto {
    text-align: justify;
}
.titulo-seccion {
    background-color: #68a4cd;
    padding: 5px;
    color: #ffffff;
}
/* fin diseño gym creativo  */

/* diseño creatividad */
.creatividad {
    background-color: #22418a;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    
    /* background-image: radial-gradient(#ea9423, #ffffff); */
}
.card-slider{
    width: 100%;
    height: 430px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    height: 400px;
    width: 250px;
    border-radius: 20px;
    margin: 10px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 200px;
}
/* fin creatividad  */

/* diseño entrena con nosotros  */
.entrena-con-nosotros {
    width: 90%;
    margin: auto;
    text-align: justify;
}
.entrena-cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.entrena-curso {
    background-color: #ffffff;
    border: solid 5px #22418a;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.entrena-curso:hover {
    border: solid 5px #ea9423;
}
.entrena-curso-imagen {
    margin-top: 10px;
    display: none;
}
.entrena-curso-links {
    text-decoration: none;
    color: #22418a;
}
.quiero-participar {
    border: solid 2px #22418a;
    background-color: #68a4cd;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
}
/* fin entrena con nosotros  */

/* diseño capacitaciones empresariales  */
.capacitaciones-empresariales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.capacitaciones-empresariales-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-empresa {
    margin: 10px 15px;
}
#juntos {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#juntos ul li {
    list-style-type: none;
    text-align: left;
}
/* fin capacitaciones empresariales  */

/* diseño chateamos */
.chateamos {
    width: 90%;
    margin: auto;
}
input {
    border:none;
}
.chateamos-input {
    padding: 2px;
    border: solid 2px #22418a;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 6px;
    width: 240px;
}
.chateamos-campos {
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}
.chateamos-boton {
    padding: 2px;
    border: solid 2px #22418a;
    border-radius: 5px;
    background-color: #ffffff;
    width: fit-content;
    margin: 5px;
}
.form-y-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* fin chateamos */

/* diseño footer  */
.footer {
    background-color: #ea9423;
    color: #22418a;
    padding: 20px;
    text-align: center;
}
.footer-links {
    padding: 10px;
    color: #22418a;
}
/* fin footer  */

/* Desktop version */


@media (min-width: 900px) {
    /* diseño del encabezado */
    .encabezado {
        display: flex;
        justify-content: center;
        align-items: stretch;
        align-content: space-between;
        flex-wrap: wrap;
    }
    .encabezado-div {
        max-width: 1366px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
    }
    .encabezado-logo {
        width: 30%;
        display: inline-block;
    }
    .encabezado-navbar {
        align-self: center;
    }
    .encabezado-logo-imagen {
        width: 100%;
        min-width: 200px;
        max-width: 400px;
    }   
    .collapsible-menu-list {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .menu-list-links {
        padding: 20px;
    }
    
    .menu-list-links:hover {
        color: #ea9423;
    }
    .navbar-collapsible-menu {
        max-height: 100%;
    }
    .lightbulb {
        width: 100%;
        max-width: 400px;
    }
    .fa-bars {
        display: none;
    }
    /* fin diseño encabezado*/ 
    .main {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*diseño sección gym creativo */
    .gym-creativo {
        width: 100%;
        margin: auto;
        padding: 50px;
    }
    .gym-creativo-div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        align-items: center;
    }
    .gym-creativo-texto {
        align-self: flex-start;
        flex-grow: 3;
        margin: 50px;
    }
    #sobre-mi{
        display: flex;
        flex-direction: column;
        background-image: url(../design/santi.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    /* .gym-creativo-imagen {
        width: 39%;
    } */
    /* fin diseño gym creativo */

    /* diseño entrena con nosotros  */
    
    .entrena-cursos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .entrena-curso {
        max-width: 400px;
        margin: 10px;
    }
    .entrena-curso-imagen {
        display: inline-block;
    }
    /* fin entrena  */

    /* diseño capacitaciones empresariales  */
    
    /* fin capacitaciones empresariales */

    /* diseño chateamos  */
    .form {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    
    .chateamos-campos {
        align-items: flex-start;
    }
    .chateamos-input {
        width: 300px;

    }
    /* fin chateamos */

    /* diseño footer  */
    /* fin footer  */
    .card-slider{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        height: 300px;
        width: 200px;
        border-radius: 20px;
        margin: 10px 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .card img {
        max-width: 200px;
    }
    
    .card-text {
    }

    .waves {
        display: block;
    }
}

