/* Mobile first */

* {
    font-family: 'Lato', sans-serif;
}

/* diseño del encabezado */
.encabezado {
    text-align: center;
    background-color: #22418a;
}
.encabezado-div {
    display: flex;
    flex-direction: column;
}
.encabezado-logo-imagen {
    width: 50%;
}
.encabezado-navbar {
    color: #ea9423;
}
.navbar-collapsible-menu {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.navbar-checkbox:checked ~ .navbar-collapsible-menu {
    max-height: 100%;
}
input#menu {
    display: none;
}
.collapsible-menu-list li {
    list-style-type: none;
    text-align: center;
}
.collapsible-menu-list a {
    display: block;
    text-decoration: none;
}
.collapsible-menu-list {
    padding-inline-start: 0%;
}
.menu-list-links {
    color: #ffffff;
    padding: 3px;
}
/* fin diseño encabezado */

/* Diseño de ña sección GymCreativo */
.gym-creativo {
    width: 90%;
    margin: auto;
}
.gym-creativo-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.gym-creativo-imagen {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;    
    text-align: center;
    background-color: #22418a;
    color: #ffffff;
}
.gym-creativo-texto {
    margin-left: 20px;
    text-align: justify;
}
.titulo-seccion {
    background-color: #68a4cd;
    padding: 5px;
    color: #ffffff;
}
/* fin diseño gym creativo  */

/* diseño creatividad */
.creatividad {
    background-color: #ea9423;
    color: #ffffff;
    padding: 10px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}
/* fin creatividad  */

/* diseño entrena con nosotros  */
.entrena-con-nosotros {
    width: 90%;
    margin: auto;
}
.entrena-cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.entrena-curso {
    background-color: #ffffff;
    border: solid 5px #22418a;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.entrena-curso:hover {
    border: solid 5px #ea9423;
}
.entrena-curso-imagen {
    margin-top: 10px;
}
.entrena-curso-links {
    text-decoration: none;
    color: #22418a;
}
.quiero-participar {
    border: solid 2px #22418a;
    background-color: #68a4cd;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
}
/* fin entrena con nosotros  */

/* diseño capacitaciones empresariales  */
.capacitaciones-empresariales {
    width: 90%;
    margin: auto;
    text-align: justify;
}
.capacitaciones-empresariales-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-empresa {
    margin: 10px 15px;
}
/* fin capacitaciones empresariales  */

/* diseño chateamos */
.chateamos {
    width: 90%;
    margin: auto;
}
input {
    border:none;
}
.chateamos-input {
    padding: 2px;
    border: solid 2px #22418a;
    border-radius: 5px;
    background-color: #ffffff;
    
    margin: 6px;
}
.chateamos-campos {
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.chateamos-boton {
    padding: 2px;
    border: solid 2px #22418a;
    border-radius: 5px;
    background-color: #ffffff;
    width: fit-content;
    margin: 5px;
}
.form-y-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* fin chateamos */

/* diseño footer  */
.footer {
    background-color: #ea9423;
    color: #22418a;
    padding: 20px;
    text-align: center;
}
.footer-links {
    padding: 10px;
    color: #22418a;
}
/* fin footer  */



/* Desktop version */


@media (min-width: 650px) {
    /* diseño del encabezado */
    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
        flex-wrap: wrap;
    }
    .encabezado-div {
        max-width: 1366px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }
    .encabezado-logo {
        width: 30%;
        display: inline-block;
    }
    .encabezado-navbar {
        align-self: center;
    }
    .encabezado-logo-imagen {
        width: 100%;
        min-width: 200px;
    }   
    .collapsible-menu-list {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .menu-list-links {
        padding: 20px;
    }
    .navbar-collapsible-menu {
        max-height: 100%;
    }
    .fa-bars {
        display: none;
    }
    /* fin diseño encabezado*/ 
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*diseño sección gym creativo */
    .gym-creativo {
        width: 90%;
        margin: auto;
    }
    .gym-creativo-div {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
    }
    .gym-creativo-texto {
        align-self: flex-start;
        flex-grow: 2;
    }
    /* .gym-creativo-imagen {
        width: 39%;
    } */
    /* fin diseño gym creativo */

    /* diseño entrena con nosotros  */
    .entrena-con-nosotros {
        max-width: 1366px;
    }
    .entrena-cursos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .entrena-curso {
        max-width: 400px;
        margin: 10px;
    }
    /* fin entrena  */

    /* diseño capacitaciones empresariales  */
    .capacitaciones-empresariales {
        max-width: 1366px;
    }
    /* fin capacitaciones empresariales */

    /* diseño chateamos  */
    .form {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .chateamos {
        max-width: 1366px;
    }
    .chateamos-campos {
        align-items: flex-start;
    }
    /* fin chateamos */

    /* diseño footer  */
    /* fin footer  */
}
